$enable-rounded: true;
$enable-gradients: true;
$enable-shadows: true;
$enable-transitions: true;
$enable-validation-icons: true;

@import '~bootstrap/scss/bootstrap';
@import './css/wi/weather-icons.min.css';


@import "~uikit/src/scss/variables";
@import "~uikit/src/scss/mixins";
@import "~uikit/src/scss/uikit";



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
